.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}

.sidebar-nav {
  overflow-y: auto;
}

.sidebar-nav:active::-webkit-scrollbar-thumb,
.sidebar-nav:focus::-webkit-scrollbar-thumb,
.sidebar-nav:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.sidebar-nav::-webkit-scrollbar-thumb {
  background-color: $dark;
  visibility: hidden;
}

.sidebar-nav::-webkit-scrollbar {
  width: 0.5rem;
}

.sidebar-nav .nav-icon {
  height: 2rem !important;
}

.sidebar-nav .nav-title {
  margin: 0;
}

.sidebar-nav .nav-link {
  padding: 0.5rem 1rem;
}

.sidebar-nav .nav-link.active {
  background-color: $dark;
}

// Custom Select2

.select2-container {
  outline: 0;
  border: var(--cui-border-width) solid
    var(--cui-input-border-color, var(--cui-border-color));
  border-radius: var(--cui-form-select-border-radius, var(--cui-border-radius));
}
.select2-container.select2-container--focus .select2-selection,
.select2-container.select2-container--open .select2-selection {
  box-shadow: 0 0 0 0.25rem rgba(var(--cui-primary-rgb), 0.25);
  border-color: var(--cui-form-select-focus-border-color, #998fed) !important;
}
.select2-container
  .select2-dropdown
  .select2-search
  .select2-search__field:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--cui-primary-rgb), 0.25);
  border-color: var(--cui-form-select-focus-border-color, #998fed) !important;
}
.select2-results__option--selected {
  display: none;
}
