::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}

.sidebar-nav {
  overflow-y: auto;
}

.sidebar-nav:active::-webkit-scrollbar-thumb,
.sidebar-nav:focus::-webkit-scrollbar-thumb,
.sidebar-nav:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.sidebar-nav::-webkit-scrollbar-thumb {
  background-color: $dark;
  visibility: hidden;
}

.sidebar-nav::-webkit-scrollbar {
  width: 0.5rem;
}

.sidebar-nav .nav-icon {
  height: 2rem !important;
}

.sidebar-nav .nav-title {
  margin: 0;
}

.sidebar-nav .nav-link {
  padding: 0.5rem 1rem;
}

.sidebar-nav .nav-link.active {
  background-color: $dark;
}

// Badge
.primary-badge {
  background-color: $primary;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  padding: 8px 12px;
  border-radius: 15px;
}

.secondary-badge {
  background-color: $dark;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  padding: 8px 12px;
  border-radius: 15px;
}

.info-badge {
  background-color: $info;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  padding: 8px 12px;
  border-radius: 15px;
}

.warning-badge {
  background-color: $warning;
  font-weight: 500;
  font-size: 12px;
  color: #000;
  padding: 8px 12px;
  border-radius: 15px;
}

.success-badge {
  background-color: $success;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  padding: 8px 12px;
  border-radius: 15px;
}

.danger-badge {
  background-color: $danger;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  padding: 8px 12px;
  border-radius: 15px;
}

#password-visibility {
  position: absolute;
  right: 10;
  top: 14;
  border-width: 0;
}
