// Import all of CoreUI's CSS
@import "@coreui/coreui/scss/coreui";

// Import Bootstrap Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

// Import Custom CSS
@import "custom";
